table{
    text-align: center;
    padding: 4px;
    border: solid;
    border-color: black;
    border-collapse: collapse;
}

th {
    border: solid;
    border-collapse: collapse;
    padding: 10px;
    font-weight: 400;
}

td {
    border: solid;
    border-collapse: collapse; 
    padding: 25px;
    text-transform: uppercase;
}

th:first-of-type {
    background: orange;
} 

.fila4 td:nth-of-type(1) {
    background: blue;
    color: white;
}

th::first-letter {
    font-size: 25px;
}

.fila6 td:nth-of-type(3) {
    background: green;
}

.fila1 td:nth-of-type(2){
    background: red;
}

.aumentar:hover {
    font-size: 25px;
}

fieldset {
    display: block;
    min-inline-size: min-content;
}

.intex {
    background: #ff4984;
}

.intex:focus {
    background: yellow;
}


a {
    text-decoration: none;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: red;
}