body {
    background: #fe15f7;
    color: #eee;
    font-family: verdana;
  }

  img {
    width: 60px;
    height: 60px;
  }

#uno:hover {

    visibility: hidden;

}
  
#dos:hover {

    display: none;

}